body {
    font-family: 'Roboto', sans-serif;
}

.alert-container .col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #eec802;
    border-color: #eec802;
}

.callout-container {
    height: 90vh;

    background: url(../images/orange-juice-background.jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.quotes-container {
    margin-bottom: 20px;
}

.favorites-container {
    height: 80vh;

    background: url(../images/strawberry-juice-background.jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.quotes .page-header {
    margin-bottom: 25px;
}

.features .page-header {
    margin-bottom: 25px;
}

.callout .page-header {
    margin-top: 80px;
}

.favorites .page-header {
    margin-top: 100px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

/* Block dividers*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #e25d00;
}

.block-divider--lightgrey {
    background-color: #a7a7a7;
}

.block-divider--short {
    width: 35px;
}

.block-divider--white {
    background-color: #ffffff;
}

/* Content containers */

.container-wrapper {
}

.container-wrapper--red {
    background-color: #e25d00;
    color: #ffffff;
}

.container-features {
}

.content-container {
    padding-top: 75px;
    scroll-padding-bottom: 75px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(17,30,29,0) 
}

.navbar .navbar-toggler {
    border-color: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
}

.jumbotron small {
    font-style: italic;
    font-size: 60%;
    color: #d0d0d0;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--orange {
    color: white;
    background-color:#e25d00;
    border-color: #e25d00;
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus{
    background-color: #bb530a;
    border-color: #bb530a;
}

.features {
    padding-bottom: 40px;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.features i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.features .btn {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #e25d00;
}

.media {
    margin-bottom: 30px;
    margin-top: 0;
}

.favorite {
    text-align: center;
}

.favorite td, .favorite th, .favorite thead th {
    font-weight: bold;
    border: none;
    border-bottom: none;
}

.favorite th {
    color:#a7a7a7;
}

.favorite td {
    color:#ffffff; 
}
